<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/68ad88e9-a6d5-4baa-96e6-1e838b86d7df/resourceGroups/Earnhardtify-ResourceGroup/providers/Microsoft.Web/sites/Earnhardtify</ResourceId>
    <ResourceGroup>Earnhardtify-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://earnhardtify.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://earnhardtify.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Earnhardtify</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>